@import "section1";
@import "section2";
@import "section3";
@import "./app-store-optimisation/index.scss";
@import "./value-propotion-design/index.scss";

.services {
    &-item {
        cursor: pointer;

        position: relative;
        width: 250px;
        height: 192px;

        &-image {
            position: absolute;
            height: auto;
        }

        &-title {
            position: absolute;
            top: 40px;
            left: 20px;

            font-size: 20px;
            line-height: 25px;
            font-weight: 800;

            color: $black-color;
        }

        &-arrow {
            position: absolute;
            top: 100px;
            right: 60px;
        }
    }
}