.services {
    .section1 {
        position: relative;

        height: 80vh;

        background-image: url(../../assets/images/service_BG_Header-small.png);
        background-size: cover;
        background-position: top center;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    
}