.news {
    .section1 {
        position: relative;
        width: 100%;
        margin-top: 40px;
        max-height: 600px;

        img {
            height: 600px;
            object-fit: cover;

            @include media-m(xl) {
                height: calc(600px * 0.6667);
            }
        }
    }

    .section2 {
        position: relative;
        width: 100%;
        margin-left: auto;
        margin-right: auto;

        display: flex;
        justify-content: center;

        &-list-new {
            margin: 100px 0 40px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 40px;

            @include media-m(xl) {
                margin: calc(100px * 0.6667) 0 calc(40px * 0.6667);    
                gap: calc(40px * 0.6667);            
            }
        }

        &-news {
            cursor: pointer;

            position: relative;
            width: 332px;
            height: 395px;

            border: 3px solid #E5F7F4;
            border-radius: 30px;

            @include media-m(xl) {
                width: calc(332px * 0.6667);
                height: calc(395px * 0.6667);
            }

            &-img {
                position: relative;
                top: 0;
                left: 0;
                width: 326px;
                height: 223px;

                border: none;
                border-radius: 27px;
                background: #D8FFE7 0% 0% no-repeat padding-box;

                top: 0px;

                @include media-m(xl) {
                    width: calc(326px * 0.6667);                
                    height: calc(223px * 0.6667);
                }
            }

            &-time {
                padding: 16px 16px 0px;
                font-size: 18px;
                color: #BDBDBD;

                @include media-m(xl) {
                    padding: calc(16px * 0.6667) calc(16px * 0.6667) 0;      
                    font-size: calc(18px * 0.6667);          
                }
            }

            &-title {
                padding: 16px 16px 0px;
                font-size: 20px;
                font-weight: 500;
                line-height: 24px;
                color: $black-color;

                @include media-m(xl) {
                    padding: calc(16px * 0.6667) calc(16px * 0.6667) 0;                
                    font-size: calc(20px * 0.6667);
                    line-height: calc(24px * 0.6667);
                }
            }

            &-arrow {
                position: absolute;
                bottom: 20px;
                right: 20px;

                @include media-m(xl) {
                    bottom: calc(20px * 0.6667);
                    right: calc(20px * 0.6667);
                }
            }
        }

        &-pagination {
            width: fit-content;
            margin-left: auto;
            margin-right: 50px;
            margin-bottom: 100px;

            display: flex;
            align-items: center;
            gap: 20px;
            
            @include media-m(xl) {
                margin-right: calc(50px * 0.6667);                
                margin-bottom: calc(100px * 0.6667);
                gap: calc(20px * 0.6667);
            }

            .pagination-prev,
            .pagination-next {
                cursor: pointer;
            }

            .pagination-number {
                cursor: pointer;
                color: $black-color;
                font-size: 18px;

                @include media-m(xl) {
                    font-size: calc(18px * 0.6667);                
                }

                &.current {
                    font-weight: 600;
                }
            }
        }
    }
}