.home {
    .section1 {
        position: relative;

        height: 913px;

        background-image: url(../../assets/images/BG_Header-small.jpg.png);
        background-size: cover;
        background-position: top center;

        display: flex;
        justify-content: center;
        align-items: center;

        // transition: all 0.3s ease;

        @include media-m(xl) {
            height: 609px;
            background-image: url(../../assets/images/BG_Header-small.jpg-p-1600.png);
        }

        &-text {
            position: absolute;
            top: 430px;

            display: flex;
            justify-content: center; 
            align-items: center;
            column-gap: 120px;

            font-family: $font-family;
            font-size: 65px;
            font-weight: 900;
            text-transform: uppercase;

            color: #0a2d27;

            // transition: all 0.3s ease;

            @include media-m(xl) {
                top: 290px;
                font-size: 43px;
            }
        }
    }
}