.home {
    .section3 {
        position: relative;
        margin-top: 100px;
        margin-left: auto;
        margin-right: auto;

        display: flex;
        justify-content: center;

        &-title {
            position: relative;
            width: fit-content;
            height: fit-content;

            &.partner {
                margin-top: 100px;
            }
        }

        &-title-background {
            position: absolute;
            top: -20px;
            left: -50px;
        }

        &-title-text {
            position: relative;

            font-family: $font-family;
            font-size: 56px;
            font-weight: 800;

            color: $secondary-color;

            .black {
                color: $primary-color;
            }
        }

        &-client {
            margin-top: 40px;
            margin-bottom: 40px;

            display: grid;
            grid-template-columns: auto auto auto auto;
            align-items: center;
            justify-content: space-between;


            width: 100%;

            &-image {
                width: 180px;
                height: auto;

                flex-basis: 25%;

                filter: grayscale(1);
                transition: filter 0.3s ease;

                &:hover {
                    filter: grayscale(0);
                }
            }
        }

        &-bottom {
            position: relative;
            margin-top: 15px;

            width: 100%;
            height: fit-content;

            display: flex;
            justify-content: center;
        }

        &-partner {
            margin-top: 20px;
            margin-bottom: 100px;

            display: grid;
            grid-template-columns: auto auto auto auto;

            align-items: center;
            justify-content: space-between;
            // flex-wrap: wrap;

            width: 100%;

            &-image {
                width: 250px;
                height: auto;

                flex-basis: 25%;

                filter: grayscale(1);
                transition: filter 0.3s ease;

                &:hover {
                    filter: grayscale(0);
                }
            }
        }
    }
}