.home {
    .section1 {
        background-image: url(../../assets/images/BG_Header-small.jpg.png);
        display: flex;
        justify-content: center;
        align-items: center;

        @include media-m(xl) {
            background-image: url(../../assets/images/BG_Header-small.jpg-p-1600.png);
        }

        &-text {
            position: absolute;
            top: 430px;

            display: flex;
            justify-content: center;
            align-items: center;
            column-gap: 120px;

            font-family: $font-family;
            font-size: 65px;
            font-weight: 900;
            text-transform: uppercase;

            color: #0a2d27;

            // transition: all 0.3s ease;

            @include media-m(xl, xxl, xxxl, _4xl) {
                top: calc(430px * var(--size-divisor));
                column-gap: calc(120px * var(--size-divisor));
                font-size: calc(65px * var(--size-divisor));
            }
        }
    }
}
