.footer {
    background-image: url(../assets/images/footer_BG-1800px.jpg);
    background-size: cover;
    background-repeat: no-repeat;

    position: relative;
    height: 1800px;

    margin-left: auto;
    margin-right: auto;

    display: flex;
    justify-content: center;

    @include media-m(xl) {
        background-image: url(../assets/images/footer_BG-1800px-p-1600.jpeg);
        height: 1400px
    }

    &-subscribe {
        position: relative;
        margin-top: 20%;
        margin-bottom: 0%;
        padding-right: 62px;
        padding-left: 62px;

        @include media-m(xl) {
            margin-top: 15%;
            padding: 0 0;
        }

        &-form {
            display: flex;
            align-items: flex-start;
            margin-top: 47px;
        }

        &-email-input {
            width: 600px;
            height: 60px;
            margin-right: 40px;
            margin-bottom: 0px;

            border: 1px none #000;
            border-radius: 24px;
            box-shadow: 2px 2px 7px -3px rgb(39 67 62 / 66%);

            font-family: $font-family;
            font-size: 16px;
            font-weight: 600;

            padding-left: 24px;
        }

        &-button {
            border: 1px $secondary-color solid;
            border-radius: 24px;
            padding: 18px 32px;

            color: white;
            background-color: $secondary-color;
            box-shadow: 1px 1px 12px -5px rgb(10 45 39 / 70%);

            font-family: $font-family;
            font-size: 16px;
            font-weight: 600;

            transition: filter 0.3s ease;

            &:hover {
                filter: brightness(1.1);
            }
        }
    }

    &-info {
        position: relative;
        top: 580px;

        display: flex;
        flex-direction: column;
        align-items: center;

        gap: 20px;

        @include media-m(xl) {
            top: 440px;
            gap: calc(20px * 0.6667);
        }

        &-top {
            display: flex;
            align-items: center;
            // justify-content: center;
            gap: 50px;

            @include media-m() {
                gap: calc(50px * 0.6667);
            }
        }

        &-top-left {
            width: 60%;

            display: flex;
            flex-direction: column;
            align-items: flex-end;
            gap: 20px;

            @include media-m() {
                gap: calc(20px * 0.6667);
            }
        }

        &-text-seeking {
            font-family: $font-family;
            font-size: 34px;
            font-weight: 800;
            text-align: right;

            color: $black-color-footer;

            @include media-m(xl) {
                font-size: calc(34px * 0.6667);                
            }

            .highlight {
                background-color: $green-color;
            }
        }

        &-text-contact {
            font-family: $font-family;
            font-size: 50px;
            line-height: 50px;
            font-weight: 900;
            text-align: right;
            text-transform: uppercase;

            color: #fff;

            @include media-m(xl) {
                font-size: calc(50px * 0.6667);
                line-height: calc(50px * 0.6667);
            }
        }

        &-top-seperator {
            width: 6px;
            height: 230px;

            @include media-m(xl) {
                width: calc(6px * 0.6667);
                height: calc(230px * 0.6667);
            }
        }

        &-top-right {
            width: 60%;
        }

        &-channel {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            gap: 30px;

            width: 51px;
            height: 51px;

            @include media-m(xl) {
                gap: calc(30px * 0.6667);
                width: calc(51px * 0.6667);
                height: calc(51px * 0.6667);
            }

            &-icon {
                transition: filter 0.3s ease;

                &:hover {
                    filter: brightness(1.2);
                }
            }
        }

        &-top-right {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 30px;

            @include media-m(xl) {
                gap: calc(30px * 0.6667);            
            }
        }

        &-detail {
            display: flex;
            align-items: center;
            gap: 20px;

            @include media-m(xl) {
                gap: calc(20px * 0.6667)                
            }

            p {
                font-family: $font-family;
                color: #fff;
                font-size: 20px;
                line-height: 28px;

                @include media-m(xl) {
                    font-size: calc(20px * 0.6667);        
                    line-height: calc(28px * 0.6667);        
                }
            }
        }

        &-link {
            margin-top: 50px;

            display: flex;
            align-items: flex-start;
            justify-content: center;
            // gap: 80px;

            @include media-m(xl) {
                margin-top: calc(50px * 0.6667)                
            }

            &-element {
                display: flex;
                flex-direction: column;
                align-items: center;

                margin: 0 30px;
                width: 200px;

                @include media-m(xl) {
                    width: calc(200px * 0.6667);
                    margin: 0 calc(30px * 0.6667);
                }

                a {
                    font-family: $font-family;
                    font-size: 28px;
                    font-weight: 700;
                    line-height: 35px;
                    text-align: center;
                    text-decoration: none;
                    text-transform: uppercase;

                    color: #fff;

                    transition: color 0.3s ease;

                    @include media-m(xl) {
                        font-size: calc(28px * 0.6667);
                    }

                    &:hover {
                        color: #acffcc;
                    }
                }

                ul {
                    margin-top: 20px;
                    font-family: $font-family;
                    font-size: 16px;
                    line-height: 28px;
                    color: #acffcc;
                    list-style-type: none;

                    @include media-m(xl) {
                        margin-top: calc(20px * 0.6667);
                        font-size: calc(16px * 0.6667);
                    }
                }
            }
        }
    }

    &-address-icon {
        width: 22px;
        height: 33px;

        @include media-m(xl) {
            width: calc(22px * 0.6667);                  
            height: calc(33px * 0.6667);
        }
    }

    &-phone-icon {
        width: 26px;
        height: 37px;

        @include media-m(xl) {
            width: calc(26px * 0.6667);
            height: calc(37px * 0.6667);
        }
    }
}