.navbar {
    position: fixed;
    top: 0%;
    left: 0%;
    right: 0%;
    bottom: auto;
    max-width: 1920px;

    margin: 0 auto;
    padding: 0 20px;

    border-radius: 0px 0px 25px 25px;
    background-color: #fff;
    box-shadow: 0 0 20px 2px rgb(28 94 78 / 34%);

    z-index: 10;

    @include media-m(xl, xxl, xxxl, _4xl) {
        max-width: calc(1920px * var(--size-divisor));
    }

    &-container {
        max-width: 1170px;
        margin-left: auto;
        margin-right: auto;

        height: 80px;

        display: flex;
        align-items: center;
        justify-content: space-between;

        @include media-m(xl, xxl, xxxl, _4xl) {
            max-width: calc(1170px * var(--size-divisor));
            height: calc(80px * var(--size-divisor));
        }
    }

    &-logo {
        width: 115px;
        height: 59px;

        @include media-m(xl, xxl, xxxl, _4xl) {
           width: calc(115px * var(--size-divisor));
           height: calc(59px * var(--size-divisor));
        }
    }

    &-menu {
        display: flex;
        align-items: center;
        gap: 60px;

        @include media-m(xl, xxl, xxxl, _4xl) {
            gap: calc(60px * var(--size-divisor));
        }
    }

    &-link {
        font-family: $font-family;
        font-size: $font-size;
        font-weight: 500;
        letter-spacing: 3px;
        text-transform: uppercase;

        cursor: pointer;
        text-decoration: none;

        color: $primary-color;

        transition: transform 0.3s ease, color 0.3s ease;

        @include media-m(xl, xxl, xxxl, _4xl) {
           font-size: calc($font-size * var(--size-divisor));
        }

        &:hover {
            -webkit-transform: scale(1.1);
            -ms-transform: scale(1.1);
            transform: scale(1.1);

            color: $secondary-color;
        }

        &:visited {
            text-decoration: none;
        }
    }
}