.title-text {
    position: relative;
    font-size: 56px;
    font-weight: 800;
    text-transform: uppercase;

    color: $primary-color;

    .green {
        color: $secondary-color;
    }

    @include media-m(xl) {
        font-size: 37px;
    }
}