.title-text {
    position: relative;
    font-size: 56px;
    font-weight: 800;

    color: $primary-color;

    margin-bottom: 32px;

    @include media-m(xl) {
        font-size: 37px;
        margin-bottom: 20px;
    }

    &-background {
        position: absolute;
        top: -20px;
        left: -50px;
        width: 131px;
        height: 90px;

        @include media-m(xl) {
            top: calc(-20px * 0.6667);
            left: calc(-50px * 0.6667);
            width: calc(131px * 0.6667);
            height: calc(90px * 0.6667);
        }
    }

    &-content {
        position: relative;
    }

    .news-title {
        font-size: 50px;

        @include media-m(xl) {
            font-size: 50px * 0.6667;
        }
    }

    .green {
        color: $secondary-color;
    }
}
