.about-us {
    .section4 {
        position: relative;
        margin-top: -297px;

        height: 1346px;

        margin-right: auto;
        margin-left: auto;

        background-image: url(../../assets/images/shape-text-team.jpg);
        background-position: 60% 0%;
        background-size: cover;

        z-index: 0;

        @include media-m(xl, xxl, xxxl, _4xl) {
            margin: calc(-297px * var(--size-divisor)) auto 0;
            height: calc(1346px * var(--size-divisor));
        }

        &-content {
            position: relative;
            top: 340px;

            display: flex;
            flex-direction: column;
            align-items: center;

            @include media-m(xl) {
                top: calc(340px * 0.6667);
            }
        }

        &-title {
            position: relative;
            margin: 20px auto;
            padding-top: 64px;
            padding-bottom: 64px;

            font-family: $font-family;
            font-size: 45px;
            line-height: 45px;
            text-align: center;
            font-weight: bold;

            color: $secondary-color;

            @include media-m(xl) {
                margin: calc(20px * 0.6667) auto;
                padding: 64px 0;
                font-size: calc(45px * 0.6667);
                line-height: calc(45px * 0.6667);
            }

            .black {
                color: $primary-color;
            }
        }

        &-team-container {
            position: relative;

            display: grid;
            grid-auto-columns: 1fr;
            -ms-grid-columns: 1fr 1fr 1fr;
            grid-template-columns: 1fr 1fr 1fr;

            grid-template-rows: auto auto;
            -ms-grid-rows: auto auto;

            grid-row-gap: 32px;
            grid-column-gap: 126px;

            @include media-m(xl) {
                grid-column-gap: calc(126xp * 0.6667);
                grid-row-gap: calc(32px * 0.6667);
            }
        }

        &-team-member {
            display: flex;
            flex-direction: column;
            align-items: center;

            &-avatar {
                position: relative;
                top: 10px;

                max-width: 100%;

                width: 240px;
                height: 240px;

                @include media-m(xl, xxl, xxxl, _4xl) {
                    width: calc(235px * var(--size-divisor));
                    height: calc(235px * var(--size-divisor));
                }
            }

            &-avatar-frame {
                position: absolute;

                width: 269px;
                height: 278px;

                @include media-m(xl, xxl, xxxl, _4xl) {
                    width: calc(269px * var(--size-divisor));
                    height: calc(278px * var(--size-divisor));
                }
            }

            &-name {
                margin-top: 24px;
                font-family: $font-family;
                font-size: 24px;
                font-weight: 900;

                color: #0a2d27;

                @include media-m(xl) {
                    font-size: calc(24px * 0.6667);
                }
            }

            &-role {
                font-family: $font-family;
                font-size: 14px;
                font-weight: 500;

                color: #0a2d27;

                @include media-m(xl) {
                    font-size: calc(14px * 0.6667);
                }
            }
        }
    }
}
