.about-us {
    .section4 {
        position: relative;
        margin-top: -297px;

        height: 1346px;

        margin-right: auto;
        margin-left: auto;

        background-image: url(../../assets/images/shape-text-team.jpg);
        background-position: 60% 0%;
        background-size: cover;

        z-index: 0;

        &-content {
            position: relative;
            top: 340px;

            display: flex;
            flex-direction: column;
            align-items: center;
        }

        &-title {
            position: relative;
            margin: 20px auto;
            padding-top: 64px;
            padding-bottom: 64px;

            font-family: $font-family;
            font-size: 45px;
            line-height: 45px;
            text-align: center;
            font-weight: bold;

            color: $secondary-color;

            .black {
                color: $primary-color;
            }
        }

        &-team-container {
            position: relative;

            display: grid;
            grid-auto-columns: 1fr;
            -ms-grid-columns: 1fr 1fr 1fr;
            grid-template-columns: 1fr 1fr 1fr;

            -ms-grid-rows: auto auto;
            grid-template-rows: auto auto;

            grid-row-gap: 32px;
            grid-column-gap: 126px;
        }

        &-team-member {
            display: flex;
            flex-direction: column;

            &-avatar {
                max-width: 100%;
                vertical-align: middle;
                display: inline-block;
            }

            &-name {
                font-family: $font-family;
                font-size: 24px;
                font-weight: 900;
                text-align: center;

                color: #0a2d27;
            }

            &-role {
                font-family: $font-family;
                font-size: 14px;
                font-weight: 500;
                text-align: center;

                color: #0a2d27;
            }
        }
    }
}