.about-us {
    .section3 {
        margin-top: 60px;
        margin-bottom: 60px;

        display: -ms-grid;
        display: grid;
        grid-auto-columns: 1fr;
        -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        -ms-grid-rows: auto auto;
        grid-template-rows: auto auto;
        grid-row-gap: 16px;
        grid-column-gap: 16px;

        position: relative;
        z-index: 1;
        margin-top: 0px;
        grid-template-areas:
            ". . Area Area-2"
            ". . Area Area-2";
        -ms-grid-columns: 0.25fr 1fr minmax(532px, 1fr) 1fr 0.25fr;
        grid-template-columns: 0.25fr 1fr minmax(532px, 1fr) 1fr 0.25fr;

        &-product-market {
            -ms-grid-row-align: center;
            align-self: center;
            -ms-grid-column-align: center;
            justify-self: center;
            -ms-grid-column-span: 1;
            grid-column-end: 3;
            -ms-grid-column: 2;
            grid-column-start: 2;
            -ms-grid-row-span: 1;
            grid-row-end: 2;
            -ms-grid-row: 1;
            grid-row-start: 1;
        }

        &-evidence-base {
            -ms-grid-row-align: center;
            align-self: center;
            -ms-grid-column-align: center;
            justify-self: center;
            -ms-grid-column-span: 1;
            grid-column-end: 3;
            -ms-grid-column: 2;
            grid-column-start: 2;
            -ms-grid-row-span: 1;
            grid-row-end: 3;
            -ms-grid-row: 2;
            grid-row-start: 2;
        }

        &-agile {
            align-self: center;
            grid-area: Area-2;
        }

        &-triangle-image {
            align-self: center;
            grid-area: Area;
        }

        &-content {
            padding: 10px;

            align-self: center;

            &-title {
                font-family: $font-family;
                font-size: 24px;
                line-height: 24px;
                font-weight: 900;

                color: $black-color;
            }

            &-title-quote {
                font-family: $font-family;
                font-size: 14px;
                font-style: italic;
                font-weight: 600;

                color: #05a387;

                margin-bottom: 20px;
            }

            &-desc {
                font-family: $font-family;
                font-size: 18px;
                line-height: 24px;

                color: $primary-color;
            }
        }
    }
}