.about-us {
    .section1 {
        position: relative;

        height: 80vh;

        background-image: url(../../assets/images/about_BG_Header-small.png);
        background-size: cover;

        display: flex;
        justify-content: center;

    }
}