.about-us {
    .section1 {
        position: relative;

        height: 913px;

        background-image: url(../../assets/images/about_BG_Header-small.png);
        background-size: cover;
        background-position: top center;
        display: flex;
        justify-content: center;

        @include media-m(xl) {
            height: 609px;
            background-image: url(../../assets/images/about_BG_Header-small-p-1600.png);
        }
    }
}