.contact-us {
    .section1 {
        width: 100%;
        height: 800px;

        background-image: url(../../assets/images/contact_BG_Header-small.png);
        background-size: cover;
        background-position: top center;
        background-repeat: no-repeat;
    }

    .section2 {
        position: relative;

        width: 100%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 100px;

        display: flex;
        justify-content: center;

        &-title {
            position: relative;
            margin-bottom: 40px;

            &-img {
                position: absolute;
                top: -20px;
                left: -50px;
            }

            p {
                position: relative;
                font-size: 56px;
                font-weight: 800;

                color: $primary-color;

                .green {
                    color: $secondary-color;
                }
            }

            p.desc {
                font-size: 24px;
                line-height: 28px;
                font-weight: 600;

                color: $secondary-color;
            }
        }

        &-content {
            display: flex;
            align-items: center;
            gap: 100px;
        }

        &-form {
            width: 500px;

            &-element {
                padding-bottom: 20px;

                p {
                    font-size: 18px;
                    font-weight: bold;
                    color: $black-color;
                    margin-bottom: 5px;
                }

                input,
                textarea {
                    width: 100%;
                    padding: 0 22px;
                    height: 50px;

                    border-style: solid;
                    border-width: 1px;
                    border-color: #05a387;
                    border-radius: 30px;
                    box-shadow: 1px 1px 7px -1px rgb(5 163 135 / 32%);

                    transition: all 0.3s ease;

                    font-family: $font-family;
                    font-size: 16px;
                    font-weight: 600;
                    line-height: 22px;

                    color: $black-color;

                    &:hover {
                        border-color: #3898EC;
                        box-shadow: 1px 1px 7px -1px rgba(22, 60, 93, 0.32);
                    }

                    &:focus {
                        border-color: #3898EC;
                        box-shadow: 1px 1px 7px -1px rgba(22, 60, 93, 0.32);
                    }

                }

                textarea {
                    height: 168px;
                    padding: 16px 22px;

                    resize: none;
                }
            }

            &-submit {
                border: none !important;
            }
        }

        &-info {
            position: relative;

            width: 600px;
            height: 308px;

            background-image: url(../../assets/images/Rounded-Rectangle-1-copy.png);
            background-size: cover;
            background-repeat: no-repeat;

            padding-top: 40px;
            padding-left: 120px;

            &-element {
                display: flex;
                align-items: flex-start;
                gap: 20px;

                margin-bottom: 20px;

                &-icon {
                    
                }

                &-text {
                    font-size: 20px;
                    line-height: 28px;
                    color: $black-color;
                }
            }

            &-channel {
                display: flex;
                gap: 40px;
            }
        }
    }
}