.contact-us {
    .section1 {
        background-image: url(../../assets/images/contact_BG_Header-small.png);
        @include media-m(xl) {
            background-image: url(../../assets/images/contact_BG_Header-small-p-1600.png);
        }
    }

    .section2 {
        position: relative;

        width: 100%;
        margin: -200px auto 100px;

        display: flex;
        justify-content: center;

        @include media-m(xl) {
            margin: calc(-200px * 0.6667) auto calc(100px * 0.6667);
        }

        &-desc {
            margin-bottom: 40px;

            font-size: 24px;
            line-height: 28px;
            font-weight: 600;

            color: $secondary-color;

            @include media-m(xl) {
                margin-bottom: calc(40px * 0.6667);
                font-size: calc(24px * 0.6667);
                line-height: calc(28px * 0.6667);
            }
        }

        &-content {
            display: flex;
            align-items: center;
            gap: 100px;

            @include media-m(xl) {
                gap: calc(100px * 0.6667);
            }
        }

        &-form {
            flex: 1 1 auto;

            &-element {
                padding-bottom: 20px;

                @include media-m(xl) {
                    padding-bottom: calc(20px * 0.6667);
                }

                p {
                    font-size: 18px;
                    font-weight: bold;
                    color: $black-color;
                    margin-bottom: 5px;

                    @include media-m(xl) {
                        font-size: calc(18px * 0.6667);
                        margin-bottom: calc(5px * 0.6667);
                    }
                }

                input,
                textarea {
                    width: 100%;
                    padding: 0 22px;
                    height: 50px;

                    border-style: solid;
                    border-width: 1px;
                    border-color: #05a387;
                    border-radius: 30px;
                    box-shadow: 1px 1px 7px -1px rgb(5 163 135 / 32%);

                    transition: all 0.3s ease;

                    font-family: $font-family;
                    font-size: 16px;
                    font-weight: 600;
                    line-height: 22px;

                    color: $black-color;

                    @include media-m(xl) {
                        padding: 0 calc(22px * 0.6667);
                        height: calc(50px * 0.6667);
                        border-radius: calc(30px * 0.6667);

                        font-size: calc(16px * 0.6667);
                        line-height: calc(22px * 0.6667);
                    }

                    &:hover {
                        border-color: #3898ec;
                        box-shadow: 1px 1px 7px -1px rgba(22, 60, 93, 0.32);
                    }

                    &:focus {
                        border-color: #3898ec;
                        box-shadow: 1px 1px 7px -1px rgba(22, 60, 93, 0.32);
                    }
                }

                textarea {
                    height: 168px;
                    padding: 16px 22px;

                    resize: none;

                    @include media-m(xl) {
                        height: calc(168px * 0.6667);
                        padding: calc(16px * 0.6667) calc(22px * 0.6667);
                    }
                }
            }

            &-submit {
                border: none !important;
            }
        }

        &-info {
            position: relative;

            width: 600px;
            height: 308px;

            // flex: 0 0 600px 308px;

            padding-top: 40px;
            padding-left: 120px;

            @include media-m(xl) {
                width: calc(600px * 0.6667);
                height: calc(308px * 0.6667);
                padding-top: calc(40px * 0.6667);
                padding-left: calc(120px * 0.6667);
            }

            &-background {
                position: absolute;
                top: 0;
                left: 0;
                width: 585px;
                height: 301px;

                @include media-m(xl) {
                    width: calc(585px * 0.6667);
                    height: calc(301px * 0.6667);
                }
            }

            &-element {
                display: flex;
                align-items: flex-start;
                gap: 20px;

                position: relative;
                margin-bottom: 20px;

                @include media-m(xl) {
                    gap: calc(20px * 0.6667);
                    margin-bottom: calc(20px * 0.6667);
                }

                &-icon {
                    &.email {
                        width: 30px;
                        height: 24px;

                        @include media-m(xl) {
                            width: calc(30px * 0.6667);
                            height: calc(24px * 0.6667);
                        }
                    }

                    &.phone {
                        width: 26px;
                        height: 37px;

                        @include media-m(xl) {
                            width: calc(26px * 0.6667);
                            height: calc(37px * 0.6667);
                        }
                    }

                    &.address {
                        width: 24px;
                        height: 36px;

                        @include media-m(xl) {
                            width: calc(24px * 0.6667);
                            height: calc(36px * 0.6667);
                        }
                    }
                }

                &-text {
                    font-size: 20px;
                    line-height: 28px;
                    color: $black-color;

                    @include media-m(xl) {
                        font-size: calc(20px * 0.6667);
                        line-height: calc(28px * 0.6667);
                    }
                }
            }

            &-channel {
                display: flex;
                gap: 40px;
            }
        }
    }
}
